.active {
  position: relative;
  width: 45ex;
  margin-left: auto ;
  margin-right: auto ;
}

.active > div:first-child {
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px black;
  background-color: white;
}

.answers > div {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #DCDCDC;
  margin-bottom: 10px;
  width: 30ex;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  cursor: hand;
  cursor: pointer;
}

.answers .correct {
  background-color: #BADA55;
}

.answers .wrong {
  background-color: #FFAABB;
}

#deck_name {
  padding-bottom: 20px;
  color: #2B2D31;
  font-style: bold;
  font-size: 2em;
/*  text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                1px 1px 0 #fff; */
  text-align: center;
}

#next_card_btn {
  position: absolute;
  top: 600px;
  left: 600px;
}

.pop_up_jkai {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
  width: 400px;
}

#percentile {
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 5px black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #BADA55;
  text-align: center;
}

#percentile h1 {
  font-size: 90px;
  padding-top: 30px;
  margin: 0;
}

#percentile p {
  font-size: 32px;
  padding-top: 30px;
  margin: 0;
}

#wrong_list {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.wrong_card {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #DCDCDC;
  margin-bottom: 10px;
  margin-left: 10px; 
  margin-right: 10px; 
  width: 30ex;
  text-align: center;
  display: inline-block;
}

#times_played {
  text-align: center;
  margin-bottom: 15px;
}
