<header id="header">
  <a href="/"><h1>FlashDeck</h1></a>

  <ul>
    <% if session[:user_id] == nil %>
    <li><a id="register_link" href="/register">Register</a></li>
    <li><a id="login_link" href="/login">Login</a></li>

    <% else %>
    <li><a href="/profile"><%= User.find(session[:user_id]).name %></a></li>
    <li><a href="/logout">Logout</a></li>
    <% end %>
    <div id="login_box">
     <div id="login_box_content">
       <form id="login_form" action="/login" method="post">
         <input id="email_header" type="email" name="email" placeholder="Email" />
         <input id="password_header" type="password" name="password" placeholder="Password" />
         <input id="submit_header" type="submit" value="Submit" />
       </form>
     </div>
   </ul>


   
 </header>
