<header class="header">

  <a href="/"><h1>FlashDeck</h1></a>

  <ul>
    <% if session[:user_id] == nil %>
    <li><span class="register_link" >Register</span></li>
    <li><span class="login_link" >Login</span></li>
    <% else %>
    <li><a href="/"><%= User.find(session[:user_id]).name %></a></li>
    <li><a href="/logout">Logout</a></li>
    <% end %>
    <div class="login_box">
      <div class="login_box_content">
        <div class="login_box_errors"></div>
        <form class="login_form" action="/login" method="post">
          <input class="email_header" type="email" name="email" placeholder="Email" />
          <input class="password_header" type="password" name="password" placeholder="Password" />
          <input class="submit_header" type="submit" value="Submit" />
        </form>
      </div>
    </div>
    <div class="register_box">
      <div class="register_box_content">
        <div class="register_box_errors"></div>
        <form class="register_form" action="/register" method="post">
          <input class="name_header" type="text" name="name" placeholder="Name" />
          <input class="email_header" type="email" name="email" placeholder="Email" />
          <input class="password_header" type="password" name="password" placeholder="Password" />
          <input class="submit_header" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </ul>
</header>
