<div class='container'>
  <h1>BOOYAH!</h1>
  Here's how you did:<br>

  This many correct = <%= correct = @game.rounds.where("correct = ?", true).count %><br>
  This many total = <%= total = @game.rounds.count %><br>
  Your percentage: <%= (correct / total.to_f).round(2) * 100 %>%<br>
  These are the cards you got wrong:<br/>

  <% wrong_rounds = @game.rounds.where("correct = ?", false) %>
  <% wrong_rounds.each do |round| %>
    <%= round.card.definition %><br/>
  <% end %>


</div>
